Language:                             Cpp
BasedOnStyle:                         LLVM
AllowShortFunctionsOnASingleLine:     Inline
BreakBeforeBraces:                    Allman
ColumnLimit:                          120
IndentWidth:                          4
UseTab:                               Never
PointerAlignment:                     Left
AlwaysBreakTemplateDeclarations:      Yes
AllowShortCaseLabelsOnASingleLine:    true
AllowShortIfStatementsOnASingleLine:  AllIfsAndElse
IndentCaseLabels:                     true




